<app-dash-bord-nav-bar></app-dash-bord-nav-bar>

<div>
  <div class="p-20 sm:ml-64">
    <h1 class="dark:text-white flex justify-center text-5xl relative font-sans">Create a new course..</h1>
  </div>

  <div class=" flex h-full justify-center items-center sm:ml-64 p-5">
    <form
      action
      [formGroup]="uploadForm"
      (ngSubmit)="onSubmit()"
      class="dark:text-white dark:bg-gray-700 bg-gray-100 from-indigo-401 to-cyan-400 rounded-xl shadow-lg p-8">
      <label for="Enter your Course">Enter your Course</label>
      <div>
        <input
          formControlName="courseName"
          type="text"
          name="courseName"
          class="dark:bg-gray-400 dark:placeholder:text-white w-full mb-5 py-2 border border-gray-300 rounded-lg px-4"
          placeholder="Enter your Course" />
      </div>
      <label for>Course Price</label>
      <div>
        <input
          formControlName="Price"
          type="number"
          name="Price"
          class="dark:bg-gray-400 w-2/2 py-2 border dark:placeholder:text-white border-gray-300 rounded-lg px-4"
          placeholder="Price" />

      </div>
      <label for>Category</label>
      <div>
        <input
          formControlName="Category"
          type="text"
          name="Category"
          class="dark:bg-gray-400 dark:placeholder:text-white w-full mb-5 py-2 border border-gray-300 rounded-lg px-4"
          placeholder="Enter your Course" />
      </div>

      <label for>Upload Date</label>
      <div>
        <!-- <input
          formControlName="date"
          type="date"
          name="date"
          class="w-2/2 py-2 border border-gray-300 rounded-lg px-4" /> -->
        <input
          type="file"
          enctype="multipart/form-data"
          accept="file_type | audio/* | video/* | image/* | media_type"
          formControlName="file"
          name="file"
          (change)="onFileSelected($event)"
          class="dark:bg-gray-400 dark:placeholder:text-white w-2/2 py-2 border border-gray-300 rounded-lg px-4"
          placeholder="5 Month" />
      </div>
      <br />
      <label for>Description About Course</label>
      <div>
        <input
          formControlName="discription"
          type="text"
          name="description"
          class="dark:bg-gray-400 dark:placeholder:text-white w-full h-20 mb-5 py-2 border border-gray-300 rounded-lg px-4"
          placeholder="Enter your Description" />

        <input
          [(ngModel)]="userId"
          formControlName="userId"
          hidden
          type="text"
          name="userId"
          class="dark:bg-gray-400 dark:placeholder:text-white w-full h-20 mb-5 py-2 border border-gray-300 rounded-lg px-4" />
      </div>

      <div class="flex justify-end">
        <button
          class="bg-blue-500 shadow-xl rounded-xl mt-2 items-center px-4 py-6 text-md uppercase hover:text-green-700">
          Submit Course
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <input type="text" formControlName="name" placeholder="Name" /><br /><br />
  <input type="file" (change)="onFileSelected($event)" /><br /><br />
  <button type="submit">Upload</button>
</form> -->
