<div class="max-w-screen-3xl min-h-screen"
  style="background-image: url(../../../../assets/images/template.jpg); background-size: cover; background-position: center;">
  <div class="p-24">
    <h1 class="text-4xl font-bold text-white">Welcome to U-learn!</h1>
    <div class="flex">
      <p class="text-white mt-4">Introducing U-Learn: Your Ultimate Online <br>
        Learning Platform, offering a wide range of courses taught by expert <br>
        instructors, empowering you to learn at your own pace. Start your <br>
        learning journey with us today!</p>
    </div>

    <div class="w-full lg:pt-16 max-w-sm mx-auto md:p-4 md:w-auto md:mx-0">
      <form [formGroup]="form" (ngSubmit)="DoLogin()" class="space-y-6" action="#">
        <div class="flex flex-col md:flex-row gap-2 ">
          <input class="rounded-xl p-4 w-full" placeholder="Your Email" type="email" formControlName="Email">
        </div>
        <span *ngIf="hasError('Email')" class="text-rose-600">Please enter a
          valid email address</span>
        <div class="flex flex-col md:flex-row gap-2">
          <input class="rounded-xl p-4 w-full" placeholder="Your Password" type="password" formControlName="Password">
        </div>
        <span *ngIf="hasError('Password')" class="text-rose-600">Password is
          required</span>

        <div class="flex flex-col md:flex-row gap-2">
          <button
            class="cursor-pointer w-full justify-center text-white bg-[#000000] width-full hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-xl p-4"
            [disabled]="form.invalid">
            Log In
          </button>

        </div>

        <div
          class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
          <p class="mx-4 mb-0 text-center font-semibold dark:text-neutral-200">
            OR
          </p>
        </div>

        <div class="flex flex-col md:flex-row gap-2">
          <button routerLink="/signup"
            class="p-4 w-full justify-center text-white bg-[#4285F4] width-full hover:text-black hover:bg-[#dfdfdf] rounded-xl">
            Sign Up
          </button>

        </div>
        <div class="flex flex-col md:flex-row gap-2">
          <button type="button" (click)="signInWithGoogle()"
            class="p-4 w-full justify-center text-white bg-[#4285F4] width-full hover:text-black hover:bg-[#dfdfdf] focus:ring-4 rounded-xl text-sm text-center inline-flex items-center">
            <img class="h-5" src="../../../../assets/images/google (1).svg" alt="">

          </button>
          <button type="button" (click)="signInWithGoogle()"
            class="p-4 w-full justify-center text-white bg-[#4285F4] width-full hover:text-black hover:bg-[#dfdfdf] focus:ring-4 rounded-xl text-sm text-center inline-flex items-center">
            <img class="h-7" src="https://cdn.iconscout.com/icon/free/png-256/free-facebook-1464523-1239437.png" alt
              srcset>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>