<app-dash-board-nav-bar></app-dash-board-nav-bar>

<div class="p-4 sm:ml-64">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Course
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Uploade Date
                    </th>
                    <!-- <th scope="col" class="px-6 py-3">
                        Action
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let course of allCourses | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-32 p-4">
                        <img src="{{course.CourseImage}}"
                            alt="Apple Watch">
                    </td>
                    <td
                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{course.courseName}}
                    </td>
                    <td
                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        basic ${{course.plan1}}
                    </td>
                    <td
                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{course.date|date}}
                    </td>
                    <!-- <td class="px-6 py-4">
                        <a href="#"
                            class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                    </td> -->
                </tr>

            </tbody>
        </table>

    </div>

</div>
<div class="flex justify-end">
    <div class=" d-flex justify-content-end">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div> 
</div>