


<!-- <div class="flex justify-evenly h-screen items-center">

  <div class="bg-gradient-to-r from-indigo-400 to-cyan-400 rounded-xl shadow-lg p-8 ">

    <label for="Enter your Course">Enter your Course</label>
    <div class="py-5">
      <input aria-required="true" type="text" class="w-full mb-4 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="Enter your Course">
    </div>

    <label for="">Course Plan</label>
    <div class="flex space-x-4 py-5">
      <input aria-required="true" type="text" class="w-1/2 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="1 Month">
      <input aria-required="true" type="text" class="w-1/2 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="6 Month">
      <input aria-required="true" type="text" class="w-1/2 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="1 year">
    </div>

    <label for="">Upload Date</label>
    <div class="flex space-x-4 py-5">
      <input aria-required="true" type="date" class="w-1/2 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="1 Month">
      <input aria-required="true" type="file" class="w-1/2 py-2 border border-gray-300 rounded-lg px-4"
        placeholder="6 Month">
    </div>

    <div class="py-4">
      <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" aria-required="true"
        class="w-64 flex flex-col items-center px-4 py-6 bg-slate-300 text-blue rounded-xl shadow-xl tracking-wide uppercase border border-blue cursor-pointer hover:text-red-600">
        <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path
            d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
        </svg>
        <span class="mt-2 text-base leading-normal">Upload Course Details</span>
        <input type='file' class="hidden" />
      </button>
    </div>

    <div class="flex justify-end">
      <button
        class="bg-slate-300 shadow-xl py-5 rounded-xl mt-2 items-center px-4 py-6 text-md	uppercase hover:text-green-700">Submit
        Course</button>
    </div>
  </div>
</div> -->


<button mat-raised-button (click)="isOptional = !isOptional">
  {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
</button>

<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>





<!--


<form [formGroup]="firstFormGroup">
  <ng-template matStepLabel>Fill out your name</ng-template>
  <mat-label>Step 1</mat-label>
  <mat-form-field appearance="fill" class="w-full">


    <div class="bg-gradient-to-r from-indigo-400 to-cyan-400 rounded-xl shadow-lg p-8 ">

      <label for="Enter your Course">Enter your Course</label>
      <div class="py-5">
        <input matInput formControlName="firstCtrl" aria-required="true" type="text"
          class="w-full mb-4 py-2 border border-gray-300 rounded-lg px-4" placeholder="Enter your Course">
      </div>

      <label for="">Course Plan</label>
      <div class="flex space-x-4 py-5">
        <input matInput formControlName="firstCtrl" aria-required="true" type="text"
          class="w-1/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="1 Month">
        <input matInput formControlName="firstCtrl" aria-required="true" type="text"
          class="w-1/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="6 Month">
        <input matInput formControlName="firstCtrl" aria-required="true" type="text"
          class="w-1/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="1 year">
      </div>

      <label for="">Upload Date</label>
      <div class="flex space-x-4 py-5">
        <input matInput formControlName="firstCtrl" aria-required="true" type="date"
          class="w-1/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="1 Month">
        <input matInput formControlName="firstCtrl" aria-required="true" type="file"
          class="w-1/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="6 Month">
      </div>
    </div>

  </mat-form-field>

  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form> -->
