<h2 class="dark:text-white text-4xl font-bold text-center text-gray-800 mb-8">
  Features of U-learn
</h2>
<div class="dark:bg-gray-600 flex items-center flex-wrap mb-20">
  <div class="w-full md:w-1/2">
    <h4 class="dark:text-white text-3xl text-gray-800 font-bold mb-3">
      About U-learn
    </h4>
    <p class="dark:text-white text-gray-600 mb-8">

      Introducing "U-Learn" an innovative e-learning web app designed to
      revolutionize online education. With its free and open-source nature,
      U-Learn provides a seamless learning experience for users worldwide. Our
      app offers a vast range of courses, empowering users to explore diverse
      subjects. One of our standout features is the ability for users to both
      add and purchase courses, fostering a collaborative learning environment.
      We've integrated the secure Stripe payment method, ensuring hassle-free
      transactions. Once a course is purchased, users can easily engage with
      course owners through our chat feature, facilitating interactive
      discussions and obtaining additional course details. U-Learn is your
      gateway to a world of knowledge, connecting learners and educators in an
      immersive e-learning ecosystem.
    </p>
  </div>
  <div class="w-full md:w-1/2">
    <img src="../../../../assets/images/3.png" alt="Monitoring" />
  </div>
</div>
<div class="flex items-center flex-wrap mb-20">
  <div class="w-full md:w-1/2">
    <img src="../../../../assets/images/1.png" alt="Reporting" />
  </div>
  <div class="w-full md:w-1/2 pl-10">
    <h4 class="dark:text-white text-3xl text-gray-800 font-bold mb-3">
      Our Features
    </h4>

    <div class="dark:text-white text-gray-600 mb-8">
      <p class="font-bold">U-Learn offers a plethora of features designed to
        enhance the
        e-learning experience for users. Here are some key features of the app:</p><br>
      <ul class="list-disc">
        <li class="list-item">Course Creation and Management: Users can create
          and upload their own courses, becoming instructors and sharing their
          expertise with a global audience. The app provides intuitive tools for
          course creation, allowing instructors to organize their content
          effectively.</li>
        <li class="list-item">Course Marketplace: U-Learn functions as a
          marketplace, enabling users to discover and purchase courses created
          by other instructors. This vast selection ensures a wide range of
          subjects and expertise are available to learnersu</li>
        <li class="list-item">Secure Payment Integration: The app seamlessly
          integrates with the Stripe payment method, ensuring secure and
          convenient transactions for course purchases. Users can trust that
          their financial information is protected during the payment process.</li>
        <li class="list-item">Interactive Course Discussions: Once a course is
          purchased, learners can engage in real-time discussions with the
          course owner and fellow learners. This interactive feature fosters a
          sense of community and facilitates the exchange of knowledge and
          insights.</li>
        <li class="list-item">Wallet Option: U-Learn offers a built-in wallet
          feature where users can deposit funds and maintain a balance within
          the app. This wallet functionality allows for quicker and seamless
          course purchases, eliminating the need to enter payment details for
          every transaction.</li>
        <li class="list-item">Mobile Accessibility: U-Learn is designed to be
          mobile-friendly, allowing users to access their courses anytime,
          anywhere, using their smartphones or tablets. This flexibility ensures
          uninterrupted learning experiences for users on the go.</li>
        <li>Course Categories: U-Learn offers a diverse range of categories,
          allowing users to add courses from any field or discipline. Whether it's
          programming, arts, business, or languages, users have the flexibility
          to contribute courses in their area of expertise.</li>
      </ul>
      <p class="font-bold">U-Learn combines these features to create an
        immersive and
        collaborative e-learning environment, empowering learners and
        instructors to connect, share knowledge, and embark on an enriching
        educational experience.</p>
    </div>
  </div>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="dark:text-white text-3xl text-gray-800 font-bold mb-3">
        How Can Use it ?
      </h4>
      <div class="dark:text-white text-gray-600 mb-8">
        <p class="font-bold">To use the U-Learn app, follow these steps:</p><br>
        <ul class="list-disc">
          <li class="list-item">Register and Login: Users can create an account
            by registering with their email address. They can also choose the
            option to log in using Google authentication for a seamless login
            experience.</li>
          <li class="list-item">Home Page: After logging in, users will be
            directed to the home page of the app. Here, they will find
            information about the app itself, including its features and
            benefits. Additionally, the home page will display the latest course
            details, along with the names of the respective course owners.</li>
          <li class="list-item">Browse and Discover Courses: Users can explore
            the available courses by browsing through different categories or
            using search functionality. They can view course descriptions,
            instructor profiles, and ratings to make informed decisions.</li>
          <li class="list-item">Purchase Courses: When users find a course they
            are interested in, they can proceed with the purchase using the
            secure Stripe payment integration. Users can choose their preferred
            payment method and complete the transaction securely within the app.</li>
          <li class="list-item">Chat with Course Owners: After successfully
            purchasing a course, users will have access to a chat feature. This
            allows them to directly communicate with the course owner to ask
            questions, seek clarification, or discuss additional course details.
            The chat feature ensures a seamless communication channel between
            learners and instructors.</li>
          <li class="list-item">Device Compatibility: U-Learn is designed to be
            accessible on any device, whether it's a computer, tablet, or
            smartphone. Users can enjoy the app's features and access their
            courses from their preferred device, making learning convenient and
            flexible.</li>
        </ul>
        <p class="font-bold">By following these steps, users can register,
          login, explore courses, purchase them securely, and engage with course
          owners using the chat feature. U-Learn provides a user-friendly
          experience across different devices, empowering learners to access
          educational content anytime and anywhere.</p>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <img src="../../../../assets/images/4.png" alt="Syncing" />
    </div>
  </div>