
  <app-nav-bar></app-nav-bar>

<!-- <app-dark-mode></app-dark-mode> -->
<section class="dark:bg-gray-600">


<!--Banner-->
<section class="">  
  <app-ulearn-banner></app-ulearn-banner>
</section>
<!--Banner-->

<!-- Features -->
<section class=" container mx-auto px-6 p-10">
  <app-ulearn-features></app-ulearn-features>
</section>
<!-- Features -->

<!-- card______________ -->
<section class="dark:bg-gray-700 bg-gray-100 ">
  <app-course-display></app-course-display>
</section>
<!-- card______________ -->


<section style="dark:bg-gray-700">
  <div class=" container mx-auto px-6 text-center py-20">
    <h2 class="mb-6 text-4xl font-bold text-center text-white">
      Add a Course Details
    </h2>
    <h3 class="my-4 text-2xl text-white">
      Explain Your Course Ideas And Plans in This Platform !
    </h3>
    <button routerLink="addCourse" *ngIf="show1; else addCourse"
      class="bg-white font-bold rounded-xl mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
      Add Course +
    </button>
    <ng-template #addCourse>
      <button routerLink="login"
        class="bg-white font-bold rounded-xl mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
        Add your Account
      </button>
    </ng-template>
  </div>
</section>

<!--Footer-->
<footer class="dark:bg-gray-700 bg-gray-100">
  <app-footer></app-footer>
</footer>
<!--Footer-->
</section>

