<app-nav-bar></app-nav-bar>


<!--Hero-->
<div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      What do you want to learn today ?
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      You will need to work hard, but it is not impossible.
    </h3>

    <form *ngIf="show1" class="flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <input type="text" id="simple-search"
          class="bg-white-50 border border-white-300 text-white-900 text-sm rounded-lg focus:ring-white-500 focus:border-white-500 block w-full pl-10 p-2.5  white:bg-gray-700 white:border-white-600 dark:placeholder-white-400 white:text-white white:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="What do you want to learn today?" required>
      </div>
      <button type="submit"
        class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </form>

    <button *ngIf="!show1" (click)="signUp()"
      class="bg-white font-bold rounded-xl py-4 px-8 shadow-lg uppercase tracking-wider">
      Get Start
    </button>
  </div>
</div>

<!-- Features -->
<section class="container mx-auto px-6 p-10">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Features of U-learn
  </h2>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">
        About U-learn
      </h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch is able to capture you vitals
        while you exercise. You can create different category of exercises
        and can track your vitals on the go.
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <img src="../../../../assets/images/3.png" alt="Monitoring" />
    </div>
  </div>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <img src="../../../../assets/images/1.png" alt="Reporting" />
    </div>
    <div class="w-full md:w-1/2 pl-10">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">
        Our Features
      </h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch can generate a comprehensive
        report on your vitals depending on your settings either daily,
        weekly, monthly, quarterly or yearly.
      </p>
    </div>
  </div>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">
        How Can Use it
      </h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch allows you to sync data
        across all your mobile devices whether iOS, Android or Windows OS
        and also to your laptop whether MacOS, GNU/Linux or Windows OS.
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <img src="../../../../assets/images/4.png" alt="Syncing" />
    </div>
  </div>
</section>
<!-- Testimonials -->
<section class="bg-gray-100">
  <div class="container mx-auto px-6 py-20">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Testimonials
    </h2>
    <div class="flex flex-wrap justify-evenly gap-y-5">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md-4">
        <a href="#">
          <img class="rounded-t-lg" src="../../../../assets/images/angular.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
              acquisitions 2021</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>




      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md-4 md-w-1/2">
        <a href="#">
          <img class="rounded-t-lg" src="../../../../assets/images/viwe js.jpeg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
              acquisitions 2021</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>


      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md-4">
        <a href="#">
          <img class="rounded-t-lg" src="../../../../assets/images/react.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
              acquisitions 2021</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>



      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md-4">
        <a href="#">
          <img class="rounded-t-lg" src="../../../../assets/images/react.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
              acquisitions 2021</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>




      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md-4 md-w-1/2">
        <a href="#">
          <img class="rounded-t-lg" src="../../../../assets/images/viwe js.jpeg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
              acquisitions 2021</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>



    </div>
  </div>
</section>
<!--Call to Action-->
<section style="background-color: #667eea">
  <div class="container mx-auto px-6 text-center py-20">
    <h2 class="mb-6 text-4xl font-bold text-center text-white">
      Add a Course Details
    </h2>
    <h3 class="my-4 text-2xl text-white">
      Explain Your Course Ideas And Plans in This Platform !
    </h3>
    <button routerLink="addCourse" *ngIf="show1; else addCourse" class="bg-white font-bold rounded-xl mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
      Add Course +
    </button>

   <ng-template #addCourse>
    <button routerLink="login" class="bg-white font-bold rounded-xl mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
      Add your Account
    </button>
   </ng-template>

  </div>
</section>
<!--Footer-->
<footer class="bg-gray-100">
  <div class="container mx-auto px-6 pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Links</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">FAQ</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Help</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Support</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Legal</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Terms</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">Company</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Official Blog</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">About Us</a>
          </li>
          <li class="mt-2">
            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
