
<app-dash-bord-nav-bar></app-dash-bord-nav-bar>
<!--  -->

<div class="p-9 sm:ml-64">
    <div class=" ">
        <div class="flex flex-col lg:flex-row gap-4">
            <div class="w-full lg:w-2/3">
                <div>
                    <!-- component -->
                   

                    <app-latast-courses></app-latast-courses>

                </div>

                <!-- Purchased Courses coponents__________________________________________ -->
                <app-get-all-purchesed-course></app-get-all-purchesed-course>
                <!-- Purchased Courses coponents__________________________________________ -->

            </div>

            <!-- fowllowersComponents_______________________________________ -->
            <div class="w-full h-auto lg:w-1/3 bg-slate-50">
                <app-fowllowers></app-fowllowers>
            </div>
            <!-- fowllowersComponents_______________________________________ -->

        </div>

    </div>
</div>