<div class="flex h-screen w-full justify-center items-center">
  <div class="card ">
    <span class="card__title">SignUp your Account</span>


    <div class="card__form">

      <div>
        <input placeholder="Last Name" type="text" [(ngModel)]="signupObj.Fname">
        <input placeholder="Last Name" type="text" [(ngModel)]="signupObj.Lname">

        <input placeholder="Your Email" type="text" [(ngModel)]="signupObj.Email">

        <input placeholder="Your Phone" [(ngModel)]="signupObj.Phone" type="number">

        <input placeholder="Your Password" type="text" [(ngModel)]="signupObj.Password">
        <input placeholder="Confirm Password" type="text" [(ngModel)]="signupObj.ConfirmPassword">

      </div>
      <button (click)="DoSignUp()">Register Your Account</button>
    </div>


  </div>




</div>
