<div class="flex h-screen w-full justify-center items-center">
  <div class="card ">
    <span class="card__title">SignUp your Account</span>


    <div class="card__form">
      <form action="">
        <input placeholder="First name" type="text" [(ngModel)]="sinUpObj.Fname">
        <input placeholder="Last Name" type="text" [(ngModel)]="sinUpObj.Lname">
        <input placeholder="Your Email" type="text" [(ngModel)]="sinUpObj.Email">
        <input placeholder="Your Phone" type="text" [(ngModel)]="sinUpObj.Phone">
        <input placeholder="Your Password" type="text" [(ngModel)]="sinUpObj.Password">
        <input placeholder="Confirm Password" type="text" [(ngModel)]="sinUpObj.ConfirmPassword">
      </form>
      <button class="sign-up text-center" (click)="DoSignUp()">Register Your Account</button>
      

    </div>
  </div>
</div>
