<app-nav-bar class="ps-10-16"></app-nav-bar>
<app-dash-board-nav-bar ></app-dash-board-nav-bar>

<div class="ps-4 p-2 sm:ml-64">
  <div class=" ">
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="w-full lg:w-2/3">
        <!-- <div class="p-4 flex items-center justify-center mb-4 rounded">
          <form>
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
              >Search</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <svg
                  aria-hidden="true"
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
                </svg>
              </div>
              <input
                type="search"
                id="default-search"
                class="block focus:outline-none drop-shadow-lg w-full p-4 px-96 pl-10 text-sm text-gray-900 border rounded-full dark:placeholder-gray-400 dark:text-dark"
                placeholder="Search Mockups, Logos..."
                required
              />
              <button
                type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Search
              </button>
            </div>
          </form>
        </div> -->

        <div>
          <div class="grid grid-cols-3 gap-5 items-center justify-evenly">

            <div class>
              <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Weekly
                  icome</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">$
                  200.2006</p>
              </a>
            </div>

            <div class>
              <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Monthly
                  income</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">$
                  200.2006</p>
              </a>
            </div>

            <div class>
              <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Anuvel
                  income</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">$
                  200.2006</p>
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="w-full lg:w-1/3 bg-slate-50">
        <!-- Content for small width screens -->
        <!-- dp---------------------------------- -->
        <div class="flex justify-end p-4">
          <img
            class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
            src="/docs/images/people/profile-picture-5.jpg"
            alt="Bordered avatar" />
        </div>

        <div class="p-4">
          <div class="flex p-10 justify-between">
            <h1 class="text-3xl font-bold">Payments</h1>
            <button
              type="button"
              class="text-gray-900 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 bg-slate-200 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
              All Payments
            </button>
          </div>
          <div class="w-full p-4 shadow sm:p-8 bg-white rounded-3xl">
            <ul
              role="list"
              class="divide-y divide-gray-200 dark:divide-gray-700">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="w-8 h-8 rounded-full"
                      src="/docs/images/people/profile-picture-1.jpg"
                      alt="Neil image" />
                  </div>
                  <div class="flex-1 min-w-0 j">
                    <p class="flex justify-end">HKLGHYLKG44$$$$44</p>

                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-dark">
                      Neil Sims
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400">
                      email@windster.com
                    </p>
                  </div>

                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    $320
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="felx justify-center p-10">
          <div
            class="flex items-center justify-center bg-white h-16 m-5 rounded-2xl drop-shadow-md">
            <p class="text-xl font-medium">Fowllowers</p>
          </div>
          <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <li class="pb-3 sm:pb-4">
              <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                  <img
                    class="w-8 h-8 rounded-full"
                    src="/docs/images/people/profile-picture-1.jpg"
                    alt="Neil image" />
                </div>
                <div class="flex-1 min-w-0">
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    Neil Sims
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    email@flowbite.com
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  $320
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
