

<div class="bg-white">
  <nav class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
    <!-- For large and Medium-sized Screen -->
    <div class="flex justify-between">

      <div class="flex space-x-3 items-center cursor-pointer">
        <p class="text-3xl"
          href="#">
          U-learn
        </p>
      </div>

      <div class="hidden sm:flex flex-row space-x-4">
        <button *ngIf="show" (click)="logIn()" type="button"
          class="rounded-md w-20 flex space-x-2 h-10 font-normal text-sm leading-3 text-indigo-700 bg-indigo-600 bg-opacity-0 hover:opacity-100 duration-100 border border-indigo-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 justify-center items-center">Log
          In</button>
        <button *ngIf="!show" (click)="LogOut()" type="button"
          class="rounded-md w-24 flex space-x-2 h-10 font-normal text-sm leading-3 text-indigo-700 bg-indigo-600 bg-opacity-0 hover:opacity-100 duration-100 border border-indigo-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 justify-center items-center">Log
          Out</button>
      </div>

      <!-- Burger Icon -->
      <button (click)="menuDropdown()"
        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 flex justify-center items-center sm:hidden cursor-pointer">
        <svg [ngClass]="menu ? 'hidden' : 'block'" width="24" height="24"
          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="transform duration-150" d="M4 6H20" stroke="#1F2937"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M4 12H20" stroke="#1F2937" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
          <path class="transform duration-150" d="M4 18H20" stroke="#1F2937"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <svg *ngIf="menu === true" width="24" height="24" viewBox="0 0 24 24"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18" stroke="#1F2937" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke="#1F2937" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>

    <!-- Mobile and small-screen devices (toggle Menu) -->
    <div [ngClass]="'mt-4 mx-auto ' + (menu ? ' ' : 'hidden sm:hidden')">
      
      <div class="flex flex-col gap-4 mt-4 w-80 mx-auto">

        <button *ngIf="show" (click)="logIn()" type="button"
          class="rounded-md flex space-x-2 w-full h-10 font-normal text-sm leading-3 text-indigo-700 bg-indigo-600 bg-opacity-0 hover:opacity-100 duration-100 border border-indigo-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 justify-center items-center">LogIn</button>
        <button *ngIf="!show" (click)="LogOut()" type="button"
          class="rounded-md flex space-x-2 w-full h-10 font-normal text-sm leading-3 text-indigo-700 bg-indigo-600 bg-opacity-0 hover:opacity-100 duration-100 border border-indigo-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 justify-center items-center">LogOut</button>

      </div>
    </div>
  </nav>
</div>
